        body{
            font-family: "sans- serif";
            color: white;
            background: url(hotel.jpg)no-repeat;
            background-size: cover;
        } 
        .container
        {
            text-align: center;
            padding: 3px;
        }
        .navbar{
            display: inline;
            width: 450px;
            float: right;
            border: none;
        }
        .navbar ul li{
            width: 120px;
            float: left;
            padding: 5px 1;
            margin: 10px auto;
            text-align: center;
            border-radius: 5px;
            background: #9E9E9E;
            margin-right: 2px;
        }
        .navbar ul li a{
            text-decoration: none;
            color: #FFFFFF;

        }
        .navbar ul li:hover
        {
            background-color: green;
        }
        .navbar ul li a:hover
        {
            color: white;
        }
        .sidebar{
            width: 300px;
            height: 539px;
            background-color: black;
            opacity: 0.9;
            padding: 55px;
        }
        .sidebar h1{
            text-align: center;
            text-transform: uppercase;
            font-weight: 100px;
        }
        .sidebar h4{
            text-align: justify;
            color: darkgrey;
            font-weight: normal;
        }
        .sidebar h2{
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
            margin: 40px auto;
        }
        .opt form,input[type="button"]{
            background-color: black;
            color: white;
            padding: 10px;
            margin: -14px auto;
            padding-left: 50px;
            padding-right: 50px;
            text-align: center;
        }
        .opt input[type="button"]:hover
        {
            background-color: green;
            cursor: pointer;
        }

        /* about styles */
        .container .about_card
        {
            text-align: center;
            font-size: 18px;
            display: inline-block;
            width: 60%;
            height: 539px;
            background-color: black;
            opacity: 0.8;
            padding: 55px;
        }

        /* contacts styles */
        .container .contacts_card
        {
            text-align: left;
            font-size: 18px;
            display: inline-block;
            width: 60%;
            height: 539px;
            background-color: black;
            opacity: 0.8;
            padding: 55px;
        }

        .contacts_card form input
        {
            padding: 5px;
            font-size: 17px;
            border:none;
            border-radius: 2px
        }
        .contacts_card form textarea
        {
            padding: 5px;
            font-size: 17px;
            border:none;
            border-radius: 2px;
            width:300px;
            height: 100px;
        }

        .contacts_card form button
        {
            padding: 5px 15px;
            font-size: 17px;
            border:none;
            border-radius: 2px;
            font-weight:bold;
        }
        .contacts_card form button:hover
        {
            color: white;
            background: green;
            cursor: pointer;
        }